* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container-header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/ntr/bg1.jpg");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-header img {
  width: 150px;
}

.container-header h1 {
  color: white;
  padding-left: 20px;
  font-weight: bold;
}

/* .container-header .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
  }
  
  .container-header .navbar h1 {
    padding-left: 20px;
    font-weight: bold;
  }
  
  .container-header .navbar img {
    width: 100px;
  } */

.members {
  width: 100%;
  height: 200vh;
}

.members .container {
  padding: 20px;
}

.container .title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.container .member {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.container .member .profile {
  text-align: center;
  width: 20%;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.508);
  text-align: center;
  transition: all 0.3s ease;
}

.container .member .profile .card {
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

.container .member .profile .card h3 {
  font-weight: bold;
  font-size: 30px;
}

.container .member .profile .card .social {
  font-size: 30px;
  /* color: black; */
}

.container .member .profile .card li a i {
  color: black;
}

.container .member .profile:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: #77216a;
  color: white;
}

.container .member .profile .card li a i:hover {
  color: white;
}

/* .album {
    width: 100%;
    height: 100vh;
  } */

.album .container-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.album .container-img img {
  width: 33.3%;
}
